<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://openbox.org/
                file:///usr/share/openbox/menu.xsd">

<menu id="root-menu" label="Openbox 3">
  <item label="X2GoClient">
    <action name="Execute"><execute>x2goclient</execute></action>
  </item>
  <item label="Firefox">
    <action name="Execute"><execute>firefox-esr</execute></action>
  </item>
  <item label="Chromium">
    <action name="Execute"><execute>chromium</execute></action>
  </item>
  <separator/>
  <item label="Abmelden">
	  <action name="Execute"><execute>/usr/bin/bash -c 'killall -9 x2goclient chromium firefox-esr ; rm -rf ~/.config/chromium ~/.mozilla ~/.cache/* ; openbox --exit'</execute></action>
  </item>
  <item label="Neustart">
	  <action name="Execute"><execute>sudo /sbin/reboot</execute></action>
  </item>
  <item label="Herunterfahren">
	  <action name="Execute"><execute>sudo /sbin/poweroff</execute></action>
  </item>
</menu>

</openbox_menu>
